		<section class="section">
			<form class="form" action="<%= urlFormPost %>" method="post" autocomplete="off" spellcheck="false" noValidate>
				<div class="group-form">
					<a href="/panel" class="logo-form">&nbsp;</a>
				</div>

				<div class="group-form">
					<p class="title-form"><%= bodyTitle %></p>
				</div>

				<div class="group-form">
					<p class="description-form"><%= bodyDescription %></p>
				</div>

				<div class="group-form">
					<div class="custom-input" icon="true">
						<input value="" class="text" id="input-email" type="text" name="email" placeholder="<%= placeholderEmail %>" required />
						<i class="icon fas fa-at"></i>
						<label class="label" for="input-email"><%= labelEmail %></label>
					</div>
					<div class="status" id="status-email"></div>
				</div>

				<div class="group-form">
					<div class="custom-input" icon="true" passwordGenerate="false">
						<input value="" class="text password _password-hide" id="input-password" type="text" name="password" placeholder="<%= placeholderPassword %>" required />
						<i class="icon fas fa-lock"></i>
						<label class="label" for="input-password"><%= labelPassword %></label>
						<i class="password-icon-show fas fa-eye" id="change-password"></i>
					</div>
					<div class="status" id="status-password"></div>
				</div>

				<div class="group-form">
					<img class="imgCaptcha" src="/panel/captcha" alt="" width="100%" height="50px">

					<div class="custom-input" icon="true">
						<input value="" class="text captcha" id="input-captcha" type="text" name="captcha" placeholder="<%= placeholderCaptcha %>" required />
						<i class="icon fas fa-robot"></i>
						<label class="label" for="input-captcha"><%= labelCaptcha %></label>
						<i class="captcha-icon fas fa-retweet" id="change-captcha"></i>
					</div>
					<div class="status" id="status-captcha"></div>
				</div>

				<div class="group-form">
					<div class="custom-checkbox" id="input-rememberMe" tabindex="0">
						<input id="rememberMe" type="checkbox" name="rememberMe">
						<label for="rememberMe"><%- rememberMe %></label>
					</div>
					<div class="status" id="status-rememberMe"></div>
				</div>

				<input type="hidden" name="csrfToken" value="<%= csrfToken %>">

				<div class="group-form">
					<button class="button-default" type="submit"><%= formButton %></button>
				</div>

				<div class="group-form">
					<div class="status" id="status"></div>
				</div>

				<div class="group-form">
					<p class="info-form"><%- infoTermsPrivacyRecovery %></p>
				</div>

				<div class="group-form">
					<center><%- func.getArrayRedSocials("awesome-1", null, true, null, null, null) %></center>
				</div>
			</form>
		</section>
